@{
    ViewBag.Title = "Home Page";
}

<table class="table">
    <tr class=" width: 50%; height: 30%; ">

        <td>
            <div class="col-md-6" style="position: absolute; width: 49%; height: 30%; top: 15%; overflow: auto;">
                @{ Html.RenderAction("WidGetListVacinacaoVencidas", "Vacinacao"); }
            </div>

        </td>
        
        <td>
            <div class="col-md-6" style="position: absolute; width: 49%; min-height: 30%; height: 30%; top: 15%; overflow: auto; padding-left: 2px;">
                @{ Html.RenderAction("WidGetListVacinacao", "Vacinacao"); }
            </div>

        </td>

    </tr>

</table>
