
<!-- Modal -->
<div class="modal fade" id="modalObservacao" tabindex="-1" role="dialog" aria-labelledby="modalObservacaoLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Observações do Movimento</h4>
            </div>

            <div class="modal-body">
                <input type="hidden" />
                <p><br><em><strong>"<span></span>"</strong></em>&nbsp;</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Ok</button>
            </div>

        </div>
    </div>
</div>


